:root{
    --img-side: 50px;
    --cell-pad: 10px;
    --cell-half: calc(var(--img-side)/2);
    --board-side: calc(var(--cell-side)*3 + var(--cell-pad)*6);
    --cell-side: calc(var(--img-side) + 2*var(--cell-pad));

    --bthick: 2px;
    --bcolor: #E879F9;
    --bbb: var(--bthick) solid var(--bcolor);

    --btn-bg: #C9184A;
    --btn-radius: 5px;
    --btn-hover-bg: #FF4D6D;
}

body{
    background-color: #590D22;
    color: #FFCCD5;
    font-size: 50px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
    gap: 30px;
}
img{
    
}

.board{
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    align-items: center;
    justify-items: center;
    width: var(--board-side);
    height: var(--board-side);
}

.cell{
    padding: var(--cell-pad);
    width: var(--cell-side);
    height: var(--cell-side);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell>.img-single{
    width: var(--img-side);
    height: var(--img-side);
}
.cell>.btn-single{
    width: var(--cell-half);
    height: var(--cell-half);
}
.cell>div{
    display: flex;
    gap: 5px;
}
.cell-btn>img{
    width: var(--cell-half);
    height: var(--cell-half);
}
.cell-btn, .btn-single{
    border-radius: var(--btn-radius);
    padding: 5px;
    background-color: var(--btn-bg);
    box-shadow: 0 3px 10px #FFB3C133;
}
.cell-btn:hover, .btn-single:hover{
    background-color: var(--btn-hover-bg);
}

#currentPlayerDiv{
    text-align: center;
}

.board>div:nth-child(1){
    border-right: var(--bbb);
    border-bottom: var(--bbb);
}
.board>div:nth-child(2){
    border-right: var(--bbb);
    border-bottom: var(--bbb);
}
.board>div:nth-child(3){
    border-bottom: var(--bbb);
}
.board>div:nth-child(4){
    border-right: var(--bbb);
    border-bottom: var(--bbb);
}
.board>div:nth-child(5){
    border-right: var(--bbb);
    border-bottom: var(--bbb);
}
.board>div:nth-child(6){
    border-bottom: var(--bbb);
}
.board>div:nth-child(7){
    border-right: var(--bbb);
}
.board>div:nth-child(8){
    border-right: var(--bbb);
}